.highlight-field {
  border: var(--primary-color) solid 1px;
  position: relative;
  z-index: 10;
}

.border-dashed {
  //border: 2px dashed var(--primary-color)
  border: 1px dashed #ddd;
}

.uk-cursor-pointer {
  cursor: pointer;
}
