<ng-container [formGroup]="form">

  <app-base-field-html [form]="form" [fieldData]="fieldData" [editMode]="editMode" [readonly]="readonly" [hideField]="hideField"
    (emitPush)="push()">

    <div multiplicity></div>

    <ng-container noMultiplicity>
      <textarea [formControlName]="fieldData.name" [id]="inputId" class="uk-textarea uk-width-9-10 uk-animation-scale-up"
        [placeholder]="fieldData.form.placeholder ?? ''"
        [maxlength]="fieldData.typeInfo.values ? fieldData.typeInfo.values[0] : null"
        (input)="updateBitSet(fieldData); unsavedChangesPrompt()" (focusin)="focus()" (focusout)="focusOut(false)"
        [ngClass]="{'uk-form-danger': checkFormValidity()}">
      </textarea>
      <div class="uk-width-9-10">
        @if (fieldData.typeInfo.values?.length === 1) {
          <div class="uk-animation-scale-up" style="float: right;">
            <span> {{form.get(fieldData.name).value ? form.get(fieldData.name).value.length : 0}}</span>
            <span>/ {{fieldData.typeInfo.values[0]}}</span>
          </div>
        }
      </div>
    </ng-container>

  </app-base-field-html>

</ng-container>
