<div [ngClass]="{'uk-disabled': readonly}">
  <div class="uk-margin-bottom">
    @if (fieldData.label.text) {
      <label class="uk-form-label {{fieldData.label.cssClasses}}"
            [for]="fieldData.name" style="{{fieldData.label.style}}"
            [innerHTML]="fieldData.form.mandatory ? appendAsterisk(fieldData.label.text) : fieldData.label.text">
      </label>
    }
  </div>

  @if (fieldData.form.description?.showLess) {
    @if (fieldData.form.description.text) {
      <div class="uk-form-description uk-text-small uk-margin-bottom {{fieldData.form.description.cssClasses}}"
           style="{{fieldData.form.description.style}}">
        <read-more-text [maxHeight]="46" [text]="fieldData.form.description.text"></read-more-text>
      </div>
    }
  } @else {
    @if (fieldData.form.description?.text) {
      <div class="uk-form-description uk-text-small uk-margin-bottom {{fieldData.form.description.cssClasses}}"
           style="{{fieldData.form.description.style}}"
           [innerHTML]="fieldData.form.description.text | safeUrl: 'html'">
      </div>
    }
  }

  @switch (fieldData.typeInfo.type) {
    @case ('composite') {
      <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">

      </div>
    }
    @case ('richText') {
      <div class="uk-margin-medium-top uk-animation-scale-up">
        <ckeditor [editor]="editor" [config]="{placeholder: fieldData.form.placeholder}"></ckeditor>
      </div>
    }
    @case ('string') {
      <input class="uk-input uk-animation-scale-up" [placeholder]="fieldData.form.placeholder ?? ''">
    }
    @case ('largeText') {
      <textarea class="uk-textarea uk-animation-scale-up" [placeholder]="fieldData.form.placeholder ?? ''"></textarea>
      @if (textProperties.maxLength) {
        <div class="uk-animation-scale-up" style="float: right;">
          <span> 0/ {{textProperties.maxLength}}</span>
        </div>
      }
    }
  }

  @if (fieldData.form.suggestion.text) {
    <div class="uk-margin-top">
      <div class="uk-suggestion {{fieldData.form.suggestion.cssClasses}}"
           style="{{fieldData.form.suggestion.style}}" [innerHTML]="fieldData.form.suggestion.text">
      </div>
    </div>
  }

</div>

<!--<pre>{{ fieldData | json }}</pre>-->
