<div #panel class="uk-position-relative comments-panel">

  @let positions = positions$ | async;
  @let heights = heights$ | async;

  @if (positions && heights) {
    @for (thread of sectionThreads; track thread.id) {
      <div
        class="thread-wrapper uk-position-absolute uk-width-expand"
        [class.thread--focused]="thread.id === focusedThreadId"
        [style.top.px]="layoutMap.get(thread.id)?.top ?? 0"
        (click)="onThreadClick(thread)">
        <div measureComment [threadId]="thread.id"
             (sizeChange)="onCommentSizeChange(thread.id, $event)"
             class="uk-card uk-card-default uk-card-small uk-animation-slide-top-medium comment-card">
          <div class="uk-card-body">
            <div class="comment-header">
              <strong>{{ thread.fieldId }}</strong>
            </div>
            <div class="comment-messages">
              @for (comment of thread.messages; track comment.id) {
                <p class="uk-margin-remove">{{ comment.body }}</p>
              }
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
