<div #panel class="uk-position-relative comments-panel">

  <!-- top spacer to create scrollable negative area when needed -->
  <div class="top-spacer" [style.height.px]="topOffset"></div>

  @if (observablesReady) {
    @for (thread of sectionThreads; track thread.id) {
      <div class="thread-wrapper uk-position-absolute uk-width-expand"
        [class.thread--focused]="thread.id === focusedThreadId"
        [style.top.px]="layoutMap.get(thread.id)?.top ?? 0"
        (click)="onThreadClick(thread)">
        <div measureComment [threadId]="thread.id" (sizeChange)="onCommentSizeChange(thread.id, $event)"
             class="uk-card uk-card-default uk-card-small uk-animation-slide-top-medium comment-card">
          <div class="uk-card-body">
            <div class="comment-header">
              <strong>{{ thread.fieldId }}</strong><br>
<!--              <strong>{{ thread.id }}</strong><br>-->
              top - {{ layoutMap.get(thread.id)?.top}}
            </div>
            <div class="comment-messages">
              @for (comment of thread.messages; track comment.id) {
                <div class="uk-visible-toggle" tabindex="-1">

                  <div uk-grid>
                    <div class="uk-width-expand">
                      <p class="">{{ comment.authorId }}</p>
                    </div>
                    @if (userId === comment.authorId) {
                      <div class="uk-width-auto">
                        <ul class="uk-hidden-hover uk-iconnav">
                          <li>
                            <div class="uk-inline">
                              <!--                          <button class="uk-button">-->
                              <a><span class="material-symbols-outlined" style="font-size: 22px">more_vert</span></a>
                              <!--                          </button>-->
                              <div id="kebab-menu-{{comment.id}}" class="comment-dropdown"
                                   uk-dropdown="mode: click; animation: reveal-top; animate-out: true; duration: 250">
                                <ul class="uk-nav uk-dropdown-nav">
                                  <li><a (click)="copyComment(comment)">Edit</a></li>
                                  <li><a>Delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    }
                  </div>

                  @if (comment.id !== editingComment?.id) {
                    <p class="uk-margin-remove-top">->{{ comment.body }}</p>
                  } @else {
                    <textarea id="text-area-{{comment.id}}" class="uk-textarea" [(ngModel)]="editingComment.body"
                              [ngModelOptions]="{standalone: true}">
                    </textarea>
                    <div>
                      <button class="uk-button uk-button-default" (click)="editingComment = null">Cancel</button>
                      <button class="uk-button uk-button-primary" (click)="updateComment(thread.id, editingComment)"
                              [ngClass]="{'uk-disabled': (comment.body === editingComment?.body && editingComment?.body.trim() !== '')}">
                        Save
                      </button>
                    </div>
                  }

                </div>
              }

              @if (!showInputMap.get(thread.id)) {
                <div class="uk-flex uk-flex-right">
                  <a class="material-symbols-outlined uk-text-decoration-none" style="font-size: 24px"
                     (click)="toggleInput(thread.id)">reply
                  </a>
                </div>
              } @else {
                <div class="uk-flex uk-flex-middle">
                  <!-- Input fields inside forms trigger form submission by default when Enter is pressed.
                       This is standard HTML behavior as per HTML5 spec for backward compatibility. -->
                  <div class="uk-width-expand uk-margin-xsmall-right">
                    <input class="uk-input uk-padding-xsmall" type="text" placeholder="Reply"
                           [(ngModel)]="inputMessage" [ngModelOptions]="{standalone: true}"
                           (keydown.enter)="$event.preventDefault()">
                  </div>
                  <div class="uk-width-auto">
                    <a class="material-symbols-outlined uk-text-decoration-none" style="font-size: 24px"
                       (click)="sendComment(thread.id)">send
                    </a>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }
  } @else {
    <div class="uk-text-center">Loading...</div>
  }
</div>
