<div class="uk-padding-small">
  {{fbService.sideMenuSettingsType()}}
  @switch (fbService.sideMenuSettingsType()) {
    @case ('chapter') {
      <div>
        <app-chapter-settings></app-chapter-settings>
      </div>
    }
    @case ('section') {
      <div>
        <app-section-settings></app-section-settings>
      </div>
    }
    @case ('field') {
      <div>
        <app-field-settings [field]="field" (emitField)="updateFieldReference()"></app-field-settings>
      </div>
    }
    @case ('fieldSelector') {
      <div>
        <app-field-type-selections></app-field-type-selections>
      </div>
    }
  }
</div>
