<div class="reference-item uk-margin-small-bottom uk-visible-toggle" [anchorContainer]="scrollContainer" commentAnchor="{{fieldData.id}}"
     [ngClass]="[
        fieldData.form.display?.cssClasses || '',
        (hideField || !fieldData.form.display?.visible) ? 'uk-hidden clear-style' : '',
        readonly ? 'uk-disabled' : ''
     ]">

  <div class="uk-margin-bottom">
    <div class="uk-flex-middle" uk-grid>
      <div *ngIf="fieldData.label.text" class="uk-form-label uk-width-expand {{fieldData.label.cssClasses}}"
            [attr.for]="fieldData.name" style="{{fieldData.label.style}}"
            [innerHTML]="fieldData.form.mandatory ? appendAsterisk(fieldData.label.text) : fieldData.label.text">
      </div>
      <div class="uk-width-auto">
        <ul class="uk-invisible-hover uk-iconnav">
          <li><a class="material-symbols-outlined" (click)="createThread()">add_comment</a></li>
<!--          <li><a href="#" uk-icon="icon: copy"></a></li>-->
<!--          <li><a href="#" uk-icon="icon: trash"></a></li>-->
        </ul>
      </div>
    </div>
  </div>

  <ng-container *ngIf="fieldData.form.description?.showLess; else noReadMore">
    <div class="uk-form-description uk-text-small uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}"
         *ngIf="fieldData.form.description.text" style="{{fieldData.form.description.style}}">
      <read-more-text [maxHeight]="46" [text]="fieldData.form.description.text"></read-more-text>
    </div>
  </ng-container>
  <ng-template #noReadMore>
    <div *ngIf="fieldData.form.description?.text" style="{{fieldData.form.description.style}}"
         class="uk-form-description uk-text-small uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}"
         [innerHTML]="fieldData.form.description.text | safeUrl: 'html'">
    </div>
  </ng-template>

  <ng-container *ngIf="fieldData.typeInfo.multiplicity; else noMultiplicity">
    <ng-content select="[multiplicity]"></ng-content>
    <div class="uk-suggestion uk-width-9-10 {{fieldData.form.suggestion.cssClasses}}" style="{{fieldData.form.suggestion.style}}"
         [innerHTML]="fieldData.form.suggestion.text">
    </div>

    <div *ngIf="!readonly" class="uk-width-9-10 uk-text-center uk-margin-top">
      <a class="add-new-element uk-flex uk-flex-middle uk-flex-center" (click)="push()">
        <span class="material-icons">add</span>Add &nbsp;<span [innerHTML]="fieldData.label.text"></span>
      </a>
    </div>
  </ng-container>

  <ng-template #noMultiplicity>
    <ng-content select="[noMultiplicity]"></ng-content>
    <div *ngIf="fieldData.form.suggestion.text" class="uk-margin-top">
      <div class="uk-suggestion uk-width-9-10 {{fieldData.form.suggestion.cssClasses}}" [innerHTML]="fieldData.form.suggestion.text"
           style="{{fieldData.form.suggestion.style}}">
      </div>
    </div>
  </ng-template>
</div>
