<div class="reference-item uk-margin-small-bottom uk-visible-toggle" [anchorContainer]="scrollContainer"
     commentAnchor="{{fieldData.id}}" [arrayPosition]="position"
     [ngClass]="[fieldData.form.display?.cssClasses || '',
       (hideField || !fieldData.form.display?.visible) ? 'uk-hidden clear-style' : '', readonly ? 'uk-disabled' : ''
     ]">

  <div class="uk-margin-bottom">
    {{ fieldData.id }}
    <div class="uk-flex-middle" data-uk-grid>
      @if (fieldData.label.text) {
        <label [attr.for]="inputId" class="uk-form-label uk-width-expand"
               [ngClass]="[fieldData.label.cssClasses || '']" style="{{fieldData.label.style}}"
               [innerHTML]="label">
        </label>
      }
      <div class="uk-width-auto">
        <ul class="uk-invisible-hover uk-iconnav">
          <li><a href="#comment-modal-{{fieldData.id}}" class="material-symbols-outlined" data-uk-toggle>add_comment</a></li>
        </ul>
      </div>
    </div>
  </div>

  @if (fieldData.form.description?.showLess) {
    @if (fieldData.form.description.text) {
      <div class="uk-form-description uk-text-small uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}"
        style="{{fieldData.form.description.style}}">
        <read-more-text [maxHeight]="46" [text]="fieldData.form.description.text"></read-more-text>
      </div>
    }
  } @else {
    @if (fieldData.form.description?.text) {
      <div style="{{fieldData.form.description.style}}"
        class="uk-form-description uk-text-small uk-margin-bottom uk-width-9-10 {{fieldData.form.description.cssClasses}}"
        [innerHTML]="fieldData.form.description.text | safeUrl: 'html'">
      </div>
    }
  }

  @if (fieldData.typeInfo.multiplicity) {
    <ng-content select="[multiplicity]"></ng-content>
    <div class="uk-suggestion uk-width-9-10 {{fieldData.form.suggestion.cssClasses}}" style="{{fieldData.form.suggestion.style}}"
      [innerHTML]="fieldData.form.suggestion.text">
    </div>
    @if (!readonly) {
      <div class="uk-width-9-10 uk-text-center uk-margin-top">
        <a class="add-new-element uk-flex uk-flex-middle uk-flex-center" (click)="push()">
          <span class="material-icons">add</span>Add &nbsp;<span [innerHTML]="fieldData.label.text"></span>
        </a>
      </div>
    }
  } @else {
    <ng-content select="[noMultiplicity]"></ng-content>
    @if (fieldData.form.suggestion.text) {
      <div class="uk-margin-top">
        <div class="uk-suggestion uk-width-9-10 {{fieldData.form.suggestion.cssClasses}}" [innerHTML]="fieldData.form.suggestion.text"
          style="{{fieldData.form.suggestion.style}}">
        </div>
      </div>
    }
  }

</div>

<!-- This is the modal -->
<div id="comment-modal-{{fieldData.id}}" data-uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">New thread</h2>
    <label for="comment-body">Comment message</label>
    <textarea id="comment-body" class="uk-textarea" [(ngModel)]="comment" rows="5"></textarea>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary" type="button" (click)="createThread()">Create comment</button>
    </p>
  </div>
</div>
