<ng-content select=".form-top-section"></ng-content>

@if (downloadPDF) {
  <div class="uk-flex uk-flex-right">
    <button class="uk-button uk-button-secondary" (click)="generatePDF()"
      data-uk-tooltip="title:Unsaved changes will not be displayed to pdf; pos: bottom">Download as pdf
    </button>
  </div>
}

<!--Chapter Selection-->
@if (model && ready) {
  <div [ngClass]="{'uk-hidden': (model.sections.length === 1 || !model.sections[0].subSections)}">
    <ul class="chapter-tabs uk-tab" data-uk-tab="connect: #top-navigation-tabs; animation: uk-animation-fade">
      @for (section of model.sections; track section) {
        <li class="">
          @if ((!section.subType || section.subType===subType)) {
            <a (click)="showUnsavedChangesPrompt(section)">{{section.name}}
              @if (chapterChangeMap.get(section.id)) {
                <span class="material-icons md-10 uk-margin-small-left">circle</span>
              }
            </a>
          }
        </li>
      }
    </ul>
  </div>
}

<ng-content select=".form-action-bar"></ng-content>

@if (errorMessage) {
  <pre id="errorAlert" class="uk-alert uk-alert-danger" data-uk-alert="duration: 500" style="border-width: 0">
    <a (click)="closeError()" class="uk-alert-close" data-uk-close></a>
    {{ errorMessage }}
  </pre>
}

@if (successMessage) {
  <div id="successAlert" class="uk-alert uk-alert-success" data-uk-alert="duration: 500">
    <p>{{ successMessage }}</p>
  </div>
}

@if (ready) {
  <div>
    <ul id="top-navigation-tabs" class="uk-switcher">
      @for (section of model.sections; let i = $index; track section) {
        <li>
          <app-chapter-edit [form]="getFormGroup(i)" [readonly]="readonly" [validate]="validate"
            [chapter]="model.sections[i]" [vocabularies]="vocabulariesMap" [tabsHeader]="tabsHeader"
            [fields]="model.sections[i].subSections ? model.sections[i].subSections : model.sections"
            [subVocabularies]="subVocabularies" [mandatoryFieldsText]="mandatoryFieldsText"
            [editMode] = editMode
            (submit)="parentSubmit()" (chapterHasChanges)="setChapterChangesMap($event)">
          </app-chapter-edit>
        </li>
      }
    </ul>
  </div>
} @else {
  <i class="loader-big" aria-hidden="true"></i>
}


<div class="uk-position-fixed" style="z-index: 100; top: 90vh; right: 0.4vw">
  <a data-uk-totop style="padding: 18px;" (click)="toTop()"></a>
</div>

<!--<pre *ngIf="form">{{form.value | json}}</pre>-->

<!-- Validation modal -->
<div id="validation-modal" data-uk-modal="esc-close: false; bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Survey validation</h2>
    <p>The survey fields will be validated and if all required fields are present it will be locked and it will not be
    editable until unlocked.</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-secondary uk-modal-close" type="button">Close</button>
      <button class="uk-button uk-button-primary" type="button" (click)="validateForm()">I agree</button>
    </p>
  </div>
</div>

<!-- Unsaved changes modal -->
<div id="unsaved-changes-modal" data-uk-modal="esc-close: false; bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
<!--    <h2 class="uk-modal-title"></h2>-->
    <p>There are unsaved changes, do you want to submit them before moving on?</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-secondary uk-modal-close" type="button">I will do it later</button>
      <button class="uk-button uk-button-primary" type="button" (click)="parentSubmit()">Submit now</button>
    </p>
  </div>
</div>
