<ng-container [formGroup]="form">
  <app-base-field-html [form]="form" [fieldData]="fieldData" [editMode]="editMode" [readonly]="readonly"
                       [hideField]="hideField" [scrollContainer]="scrollContainer" [inputId]="inputId"
                       (emitPush)="push()">

  @if (fieldData.typeInfo.multiplicity) {
    <div [formArrayName]="fieldData.name">
      <!--    add multiplicity here-->
    </div>
  } @else {
    <input [formControlName]="fieldData.name" [id]="inputId" (input)="updateBitSet(fieldData); unsavedChangesPrompt()"
      (focus)="focus()" (focusout)="focusOut(false)" [step]='step' placeholder="{{fieldData.form.placeholder}}"
      class="uk-input uk-width-9-10 uk-animation-scale-up" [ngClass]="{'uk-form-danger': checkFormValidity()}">
    @if (checkFormValidity()) {
      <p class="uk-form-danger uk-animation-fade uk-text-italic">
        Value should be numeric{{getNumberOfDecimals() ? ' with up to ' + getNumberOfDecimals() + ' decimals separated with \'.\'' : ''}}
      </p>
    }
  }

  </app-base-field-html>
</ng-container>
