<div class="uk-padding-small">
  <ul uk-tab="animation: uk-animation-fade" class="uk-grid uk-child-width-1-1">
    <li>
      <div class="uk-flex uk-flex-middle uk-width-1-1">
        <div class="uk-width-4-5"><a (click)="emitSelection(null, null, null, 'main')">Main Info</a></div>
      </div>
    </li>
    @for (chapter of chapterModel; track chapter; let i = $index) {
      <li class="uk-width-1-1 uk-margin-small-bottom">
        <div class="uk-flex uk-flex-middle uk-width-1-1">
          <div class="uk-width-4-5">
            <a (click)="emitSelection(chapter, null, null, 'chapter')">
              {{ (i + 1) + '. ' + (chapter.name ?? 'Untitled chapter') }}
            </a>
          </div>
          <div class="uk-width-1-5">
            <a class="" (click)="deleteChapter(i)"><span class="material-icons">delete</span></a>
          </div>
        </div>
        <!--      <ul [attr.uk-tab]="'connect: #section-tabs-'+chapter.chapter.id">-->
        <ul data-uk-tab="animation: uk-animation-fade">
          @for (section of chapter.subSections; track section; let j = $index) {
            <li class="uk-width-1-1 ">
              <div class="uk-flex uk-flex-middle uk-grid uk-grid-column-collapse uk-margin-small-left">
                <div class="uk-width-4-5">
                  <a (click)="emitSelection(chapter, section, null, 'section')">
                    {{ (i + 1) + '.' + (j + 1) + '. ' + (section.name ?? 'Untitled section') }}
                  </a>
                </div>
                <div class="uk-width-1-5">
                  <a (click)="deleteSection(i, j)"><span class="material-icons">delete</span></a>
                </div>
                @for (field of section.fields; track field; let k = $index) {
                  <div class="uk-margin-small">
                    <a class="uk-margin-small-left" (click)="emitSelection(chapter, section, field, 'field')">
                      {{ (i + 1) + '.' + (j + 1) + '.' + (k + 1) + ' ' + (field.label.text !== '' ? field.label.text : 'Untitled question') }}
                    </a>
                  </div>
                }
                <!--          <div class="uk-margin-small">-->
                <!--            <a class="uk-flex uk-flex-middle" (click)="addField(i, j)">-->
                <!--              <span class="material-icons">add</span> Question-->
              <!--            </a>-->
            <!--          </div>-->
          </div>
        </li>
      }
    </ul>
    <div class="uk-margin-small">
      <a class="uk-flex uk-flex-middle" (click)="addSection(i)"><span class="material-icons">add</span> Section</a>
    </div>
  </li>
}
</ul>
<a class="uk-flex uk-flex-middle uk-margin-small" (click)="pushChapter()">
  <span class="material-icons">add</span> {{ chapterModel.length === 0 ? 'Create the first chapter' : 'Chapter' }}
</a>
</div>
